:root {
    --vk-primary-color: #0681AC;
    --vk-secondary-color: #8eb897;
    --vk-tertiary-color: #d3c0d2;
    --vk-highlight-color: #FFCB47;

    --vk-nav-toggler-color: var(--vk-highlight-color);
    --vk-nav-toggler-glow: rgba(250, 225, 120, .55);

    --vk-dark-color: #090909;
    --vk-light-color: #f5f5f5;
}

/*START Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--vk-light-color);
    font-family: 'Libre Baskerville', sans-serif;
}

main {
    flex: 1 0 auto;
    margin-top: 1rem;
}

footer {
    flex-shrink: 0;
}

/*END Sticky Footer */

/*START: Navbar Overrides  */

.navbar-brand {
    color: var(--vk-secondary-color);
}

#mainNav {
    background-color: var(--vk-dark-color);
    color: var(--vk-tertiary-color);
}

#mainNav button {
    border-color: var(--vk-secondary-color);
    color: var(--vk-tertiary-color);
}

.navbar-toggler {
    color: var(--vk-highlight-color);
}

.navbar-toggler-icon-vk {
    color: var(--vk-secondary-color);
    font-size: 1.5rem;
}

.listStyling {
    color: var(--vk-highlight-color);
}

/*END: Navbar Overrides  */

/*START:Footer Styling */

footer {
    background-color: var(--vk-dark-color);
}

.footer-Text {
    color: var(--vk-secondary-color);
    font-size: 1.2rem;
}

.socialIcons {
    color: var(--vk-secondary-color);
    font-size: 1.5rem;
}

.socialIcons:hover {
    color: var(--vk-highlight-color);
}

/*END:Footer Styling */


/*START: App-logo Styling */

.appLogo {
    max-width: 400px;
}

/*START: App-logo Styling */

/*START CheckList */
.checkList {
    list-style-type: none;
}

.checkList>li i {
    color: var(--vk-highlight-color);
    padding-right: .5rem;
}

/*END: Checklist  */


.devIcons {
    font-size: 4rem;
    padding-left: .5rem;
}



/* START: Hero Grid */
.heroWrapper {
    display: grid;
    grid-template-columns: 2;
    gap: 10px;

    background-color: rgba(6, 129, 172, .6);
    border-radius: 4rem;
    box-shadow: 16px 15px 22px 0px rgba(0, 0, 0, 0.1);

}

.heroCol1 {
    grid-column: 1 / 2;
    grid-row: 1;

    background-color: var(--vk-secondary);
}

.heroCol2 {
    grid-column: 2 / 2;
    grid-row: 1;
    color: var(--vk-dark-color);
    padding-right: 20px;

}


/* START: Hero Mobile Styles */

.heroMobile {
    background-color: rgba(6, 129, 172, .6);
    border-radius: 4rem;
    box-shadow: 16px 15px 22px 0px rgba(0, 0, 0, 0.1);

}

.heroMobileHeader {
    font-size: 2rem;
}

.heroMobileText {
    margin: 0;
    text-indent: 1rem;
    text-align: justify;
    font-size: 1rem;
    padding: 0em 1em 1em 1em;
}




/* END: Hero Grid */